/*
# サイトの設定
主に変数の定義です。
*/

/*
## Basic
*/

$site-width: 960px;
$site-padding: 20px;

$font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
$font-family--mincho: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN";


/*
## White-1 ( Default )
*/

$text_color: #262626;
$link_color: #262626;
$heading_color: #262626;
$background_color: #fff;

$footer_text_color: #262626;
$footer_link_color: #262626;
$footer_background_color: #f5f5f5;


/*
Black-1

$text_color: #eaeaea;
$link_color: #ae9c53;
$heading_color: #ae9c53;
$background_color: #303030;

$footer_text_color: #c8c8c8;
$footer_link_color: #c8c8c8;
$footer_background_color: #424242;

*/
