/*
## .l-container-2
*/

.l-container-2 {
  position: relative;
}

.l-container-2__1 {
  
}

.l-container-2__2 {
  padding: 20px 0 0;
}

@media screen and ( min-width: $breakpoint-2 ) {
  
  .l-container-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: $site-width;
    margin: 0 auto;
  }
  
  .l-container-2__2 {
    width: 240px;
    padding: 0 0 0 40px;
  }
  
}



/*
## .l-container-1
*/

.l-container-1 {
  display: block;
  margin: 0 auto;
  @include legacy-pie-clearfix;
}

.l-container-1__1 {
  float: left;
  display: block;
}

.l-container-1__2 {
  float: right;
  display: block;
}
