/*
# フッター
*/



.l-footer-1 {
  margin: 10px 0;
}

.l-footer-1__copyright {
  text-align: center;
  small {
    font-size: 100%;
  }
}


@media screen and ( max-width: $site-width ) {
  
  .l-footer-1 {
    
  }
  
}

