/*
# ヘッダー / header
*/



/*
## .l-header-1
*/

.l-header-1 {
  position: relative;
  width: $site-width;
  margin: 0 auto;
  padding: 20px 0 0;
}

.l-header-1__h1 {
  //font-size: 12px;
}

@media screen and ( max-width: $site-width ) {
  
  .l-header-1 {
    width: auto;
    margin: 10px;
    padding: 0;
  }
  
}
