/*
## .article-1
*/

.article-1 {
  position: relative;
}

.article-1__header {
  padding: 0 20px;
}

.article-1__h1 {
  font-size: $px24;
}

.article-1__time {
  margin-bottom: 4px;
  padding: 0 20px;
}

.article-1__eyecatch {
  margin-top: 20px;
  text-align: center;
  background-color: #222;
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.article-1__content {
  padding: 14px 20px 20px;
  a {
    &:hover {
      img {
        @include opacity(.7);
      }
    }
  }
  h2 {
    font-size: $px18;
    font-weight: bold;
    margin: 2em 0 0;
  }
  h3 {
    font-size: $px16;
    font-weight: bold;
    margin: 1.5em 0 0;
  }
  h4 {
    font-weight: bold;
    margin: 1em 0 0;
  }
  h5, h6 {
    font-weight: bold;
  }
  p {
    margin: 1em 0 0;
  }
  iframe {
    max-width: 100%;
  }
  
  ul {
    margin: 1.5em 0;
    padding-left: 1.5em;
    list-style: outside disc;
  }
  ol {
    margin: 1.5em 0;
    padding-left: 1.5em;
    list-style: outside decimal;
  }
  li {
    margin-top: .7em;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #eceff1;
  }
  thead {
    tr {
      background-color: #eceff1;
    }
  }
  tbody {
    tr {
      &:nth-of-type(even){
        background-color: #eceff1;
      }
    }
  }
  th, td {
    padding: 10px;
  }
  th {
    
  }
  td {
    
  }
  
  blockquote:not([class="twitter-tweet"]) {
    
  }
}


@media screen and ( min-width: $breakpoint-1 ) {
  
  .article-1__h1 {
    font-size: $px24;
  }
  
}
