/*
## .aside_2
*/

.aside_2 {
  position: relative;
  margin: 1em 0 0;
}

.aside_2__h1 {
  font-weight: bold;
}



/*
## .aside_1
*/

.aside_1 {
  position: relative;
  font-size: $px12;
  @include legacy-pie-clearfix;
  @at-root {
    #{&}__1 {
      float: left;
    }
    #{&}__2 {
      overflow: hidden;
      padding-left: 20px;
    }
  }
}

@media screen and ( min-width: $breakpoint-2 ) {
  
  .aside_1 {
    margin: 0;
    padding: 0;
  }
  
}
