/*
## .list-2
*/

.list-2 {
  overflow: hidden;
}

.list-2__items {
  margin-top: -24px;
}

.list-2__item {
  margin-top: 24px;
}


/*
## .list-1
*/

.list-1 {
  .list-1 {
    margin-left: 1em;
  }
}

.list-1__items {
  
}

.list-1__item {
  
}
